/* SoundEnableModal.css */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

.sound-modal {
  font-family: "Lexend", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ffffffbb;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  backdrop-filter: blur(10px); /* Add this line */
  -webkit-backdrop-filter: blur(10px); /* Add this line for better compatibility */
}

.modal-title {
  color: #333;
  font-weight: 600;
  white-space: nowrap;
  font-size: 1.9em;
  margin-bottom: 10px;
}

.modal-text {
  color: #666;
  margin-bottom: 20px;
}

.enable-button {
  background-color: #3a5a40;
  display: flex;
  align-items: center;
  justify-content: center;
  gap : 10px;
  font-family: "Lexend", sans-serif;
  white-space: nowrap;
  color: #fff;
  padding: 10px 60px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enable-button:hover {
  background-color: #588157;
}
